body {
  font-family: var(--font-family);
  font-size: var(--text-preset-5);
  background-color: var(--color-navy-950);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: var(--spacing-500) var(--spacing-300);
}

.dashboard {
  display: grid;
  gap: var(--spacing-300);
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
}

.card-activity.card-activity--play {
  background-color: var(--color-blue-300);
}

.card-activity.card-activity--study {
  background-color: var(--color-pink-400);
}

.card-activity.card-activity--exercise {
  background-color: var(--color-green-400);
}

.card-activity.card-activity--social {
  background-color: var(--color-purple-700);
}

.card-activity.card-activity--self-care {
  background-color: var(--color-yellow-300);
}
