.card-activity {
  position: relative;
  background-color: var(--color-orange-300);
  border-radius: 0.9375rem;
  min-height: 160px;
  overflow: hidden;
}

.card-activity__bg {
  position: relative;
}

.card-activity__bg img {
  position: absolute;
  right: 1rem;
  top: -4px;
}

.card-activity__content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-navy-900);
  border-radius: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-100);
  padding: var(--spacing-300);
  z-index: 1;
}

.card-activity__header,
.card-activity__time-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-activity__title {
  font-size: var(--text-preset-5);
  font-weight: var(--font-weight-medium);
  color: var(--color-white);
}

.card-activity__options-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card-activity__options-btn img:hover {
  fill: var(--color-white);
}

.card-activity__current-time {
  font-size: var(--text-preset-3);
  font-weight: var(--font-weight-light);
  color: var(--color-white);
}

.card-activity__previous-time {
  font-size: var(--text-preset-6);
  font-weight: var(--font-weight-regular);
  color: var(--color-navy-200);
}
